<ul class="d-md-flex align-items-md-center justify-content-end">
    <li><a href="/">ESILEHT</a></li>
    <li><a href="/Uudised">UUDISED</a></li>
    <li><a href="#">MATKARAJAD</a></li>
    <li><a href="/Kontakt">KONTAKT</a></li>
</ul>