<!DOCTYPE html>
<html lang="en">

    <%- include ("../partials/paiselement.ejs") %>
    <title>Uudised</title>
   
    
<body>
    <div class="paisSektsioon">
        <div class="banner">
            <a href="https://happiestoutdoors.ca/ways-to-save-money-on-hiking-gear/"><img src="./assets/hikinggear.jpg" alt=""></a>
        </div>
        <div class="container">
            <div class="row pt-3">
                <div class="col-12 col-md-5 d-flex">
                    <img class="paislogo" src="./assets/klubilogo.png" alt="">
                    <div class="paisnimi">
                        MATKA KLUBI
                    </div>
                </div>
                <div class="col-12 col-md-7 menu ">
                    <%- include("../partials/menyy.ejs") %>
                </div>
            </div>  
       
            <div class="output" id="valjund"></div>
        </div>
        </div>
    </div>
<script src="matkaklubi.js"></script>
</body>
</html>